
@keyframes change-color{
from{background-color:red ;};
to{background-color:blue ;};
}
.box1{
    height: 100px;
    width: 100px;
    background-color: black;
    animation-name: change-color;
    animation-duration: 5s;
}


@keyframes change{
    0%{background-color: green;}
    25%{background-color: yellow;}
    50%{background-color: pink;}
    75%{background-color: red;}
    100%{background-color: black;}
}
.box2{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    background-color: green;
    animation-name: change;
    animation-duration: 5s;
}
.circle{
    margin-top: 20px;
    height: 200px;
    width: 100px;
    
    background-color: aqua;
   animation: toSquare 5s alternate-reverse  infinite ease-in-out  ;
    animation-timing-function: 0;

}
@keyframes toSquare{
    from{border-radius: 0;}
    to{
        border-radius: 50%;
        
    }
}
.circle4{
    margin: 10px;
    width: 100px;
    margin: 10px;
    height: 100px;
    background-color: aquamarine;
    border-radius: 100%;
    /* animation: bigger 5s  infinite alternate-reverse ; */
}
@keyframes bigger{
    from{
        height: 100px;
        width: 100px;
    }
    to{
        height: 300px;
        width: 300px;
    }
}

.hvr{
    margin: 10px;
    width: 100px;
    margin: 10px;
    height: 100px;
    background-color: aquamarine;
}

.hvr:hover{
    animation: moveleft 5s   1 alternate-reverse ;
}
@keyframes moveleft{
    from{
        transform: translate(0px,0px);
    }
    to{
        transform: translate(100px,0px);
    }
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.move2{
    margin: 10px;
    width: 100px;
    margin: 10px;
    height: 100px;
    background-color: rgb(33, 189, 33);
    animation: move2 7s   2 alternate ;
}

@keyframes move2{
    0%{
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(50px,0px); 
    }
    100%{
        transform: translate(50px,50px);
    }
}

.moveAround{
    margin: 10px;
    width: 100px;
    margin: 10px;
    height: 100px;
    background-color: rgb(33, 189, 33);
    animation: around 7s   infinite  ;
}
@keyframes around{
    0%{
        transform: translate(0px,0px);
    }
    25%{
        transform: translate(1400px,0px); 
    }
    50%{
        transform: translate(1400px,617px);
    }
    75%{
        transform: translate(0px,617px);
    }
    100%{
        transform: translate(0px,0px);
    }
  
}

.rotate{
   position: absolute;
   top: 200px;
    width: 100px;
    margin: 10px;
    height: 100px;
    background-color: rgb(33, 189, 33);
    animation: inside 5s   infinite ;
}

@keyframes inside{
    from{
        transform: rotateX(0);

    }
    to{
        transform: rotateX(150deg);
    }
}

.ball{
    position: absolute;
    border-radius: 100%;
    top: 400px;
    width: 100px;
    margin: 10px;
    height: 100px;
    background-color: rgb(33, 114, 189);
    animation: falling 3s infinite  ;
}
@keyframes falling{
    0%{
        transform: translate(0px,0px);
    }
    20%{
        transform: translate(0px,180px);
        height: 150px;
        width: 150px;
    }
    40%{
        transform: translate(0px,150px);
        height: 200px;
        width: 200px;
    }
    60%{
        transform: translate(0px,100px);
        height: 250px;
        width: 250px;
    }
    80%{
        transform: translate(0px,80px);
    }
    100%{
        transform: translate(0px,50px);
        height: 260px;
        width: 260px;
    }
}

.textRising{
    font-size: 30px;
    text-shadow: 0 0 10px red, 0 0 20px orange, 0 0 30px yellow, 0 0 40px green, 0 0 50px blue;
    animation: rising 5s infinite;

}
@keyframes rising{
    from{
        font-size: 30px;
    }
    to{
        font-size: 50px;
    }
}
.squareOut{
    height: 200px;
    width: 200px;
    border: solid;
}
.squareIn{
    height: 50%;
    width: 50%;
    border: solid;
    animation: moveInside 5s   infinite ;
}
@keyframes moveInside{
    0%{
        transform: translate(0px,0px);
    }
    25%{
        transform: translate(100px,0px);
    }
    50%{
        transform: translate(100px,100px);
    }
    100%{
        transform: translate(0px,100px);
    }
}
.dvd{
    font-size: 10vh;
    text-shadow: 0 0 10px red, 0 0 20px orange, 0 0 30px yellow, 0 0 40px green, 0 0 50px blue;
    animation: DVD 10S  infinite;
}
@keyframes DVD{
    0%{
        transform: translate(0);
    }
    25%{
        transform: translate(30%,230%);
    }
    50%{
        transform: translate(90%,100%);
    }
    75%{
        transform: translate(50%,-40%);
    }
}
.typing{
    font-size: 3vw;
}